.intro_contato {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

/* Contato */

.contato {
  padding: 60px;
}

.contato label,
.contato input,
.dados ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Formulário*/
.contato .formulario input,
.contato textarea {
  width: 100%;
  margin: 5px 0 10px;
  border: solid 5px #fec63e;
  background: none;
  color: #000;
  outline: none;
  resize: none;
  padding: 7px 10px;
  font-size: 14px;
}

.contato .formulario .btn {
  background-color: #fff;
}

/*Dados e Especificaçoes*/
.dados,
.monte_bik {
  padding-left: 60px;
}
.dados h4,
.monte_bik h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fec63e;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.dados ul li:nth-of-type(2) {
  padding-bottom: 40px;
}

.contato .social_media {
  padding: 40px 0;
}
.contato .media_icons {
  justify-content: start;
}
.contato .media_icons a:hover {
  border-color: #000;
}

/*Mapa*/
.contato_mapa {
  margin-bottom: 60px;
}
