/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 14px auto 10px auto;
}

h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 14px auto 10px auto;
}

.btn-preto:hover {
  border-color: #000;
  color: #000;
}

.btn-branco:hover {
  border-color: #fff;
  color: #fff;
}

img {
  display: block;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fff;
}
/* Introdução */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* Produtos */
.produtos .container {
  text-align: center;
  padding: 60px 0;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 45px 0;
}

.produtos h2:after {
  background-color: #000;
}
.produtos .card-produto {
  width: 300px;
  height: 320px;
  background-color: #fec63e;
}

.card-icone-bike {
  height: 200px;
  background-color: #000;
  padding-left: 50px;
  padding-top: 25px;
}

.card-produto h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  text-transform: uppercase;
}

.card-produto h3:after {
  background-color: #000;
}

.produtos p {
  padding-bottom: 20px;
}

/* Portfolio */
.portfolio {
  background-color: #000;
  text-align: center;
  padding: 60px 0;
}

.portfolio h2 {
  color: #fec63e;
}

.portfolio h2:after {
  background-color: #fec63e;
}

.portfolio ul li:last-child {
  margin-top: 20px;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 20px;
  color: #fff;
}

/* Qualidade */

.qualidade h2:after {
  background-color: #000;
}

.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: -1;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  padding-top: 40px;
}
.qualidade_lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

.qualidade .call p {
  color: #000;
}

/* Footer */
.footer-up {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.footer-up .quote-externo {
  max-width: 400px;
}

.footer-down {
  background-color: #000;
  text-align: left;
  height: 150px;
}
.footer-down h3 {
  color: #fec63e;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  text-transform: uppercase;
}
.footer-down h3::after {
  margin: 14px 0 10px 0;
  background-color: #fec63e;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.history p {
  max-width: 400px;
  color: white;
}

.contact ul li {
  color: white;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-media-icons a {
  border: solid 3px #fec63e;
  padding: 5px;
  margin-right: 20px;
}

.copy {
  width: 100%;
  background-color: #fec63e;
  padding: 20px 0;
}
